<div class="row">
    <div class="col-xs-12">
        <h1>Add Instructor</h1>
        <label class="mb-1"> Instructor Name</label>
        <input type="text" class="form-control" [(ngModel)]="txtInstructorName">
        <button class="btn btn-primary " (click)="SendInstructor()" style="margin-top: 20px;margin-bottom: 10px;"> Save
        </button>
    </div>
    <div class="col-xs-12" *ngIf="isAdded">
        <div class="alert alert-success">
            <p>Add Success</p>
        </div>
    </div>
</div>
<app-show-instructor></app-show-instructor>