<div class="container">

    <h1 class="mb-4 ">Courses</h1>

    <div class="row">
        <div class="col-12">
            <div class="post p-3 mb-2" *ngFor="let course of courses | async">
                <div class="delete-btn">
                    <button class="btn btn-danger" (click)="deleteCourse(course.id)">Delete</button>
                </div>
                <h2>CourseName = {{course.coursName}}</h2>
                <p> InstructorName = {{course.instructorName}}</p>
            </div>
            <div class="col-xs-12" *ngIf="isDeleted">
                <div class="alert alert-success">
                    <p>Delete Success</p>
                </div>
            </div>
        </div>
    </div>
</div>