<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Institute</a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="ClickCourse()">Course</a></li>
                <li><a href="#" (click)="ClickStudent()">Student</a></li>
                <li><a href="#" (click)="ClickInstructor()">Instructor</a></li>
            </ul>

        </div>
    </div>
</nav>